html {
	height: max-content;
	max-height: max-content;
	position: relative;
}

body {
	font-family: "SST-ARABIC-ROMAN" !important;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
    padding-top: 101px;
	height: max-content;
	max-height: max-content;
}


.overflow {

	overflow: hidden;
}

:root {
	--main-color: #343d6f;
	--main-hover: #E13612;


}

.mb-150 {
	margin-bottom: 150px !important;
}

.top-header {
	background-color: var(--main-color);
}

.supervisor-name-div {
	margin-inline-start: 30px;

}

.supervisor-name {
	color: #000;
    font-size: 25px;
    font-family: "SST-ARABIC-BOLD";
    text-align: start;
    margin: 0 0 12px;
}

.supervisor-notes {
	display: flex;
	align-items: center;
	text-align: start;
	margin: 0;
	gap: 7px;
}

.supervisor-notes span {
	color: #878787;
	font-size: 16px;
	display: flex;
	text-align: start;
	margin: 0;
}

.id-number:after {
	content: "-";
}

.chat-btn {
	width: 55px;
	height: 55px;
	border-radius: 50%;
	border: 0;
	outline: none;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 3px 6px #66A61B80;
	color: #fff;
	font-size: 30px;
	background-color: var(--main-color);
	position: fixed;
	z-index: 9999;
	bottom: 10px;
	inset-inline-start: 10px;
	text-decoration: none;
	transition: 0.5s;
}

.chat-btn:hover {
	color: #fff;
	text-decoration: none;
}

.chat-btn i {
	width: 30px;
	height: 33px;
	align-items: flex-end;
	display: flex;

}

.chat-btn::after {
	display: flex;
	background-color: var(--main-color);
	opacity: 0.102;
	border-radius: 300px;
	height: 58px;
	width: 58px;
	animation: pulsate 2s ease-out;
	animation-iteration-count: infinite;
	opacity: 0;
	content: "";
	z-index: -1;
	margin: auto;
	position: absolute;
	top: 0;
	left: -5px;
	right: -5px;
	bottom: 0;
}

.chat-btn:focus {
	border: 0;
	outline: none;
}

@keyframes pulsate {
	0% {
		transform: scale(0.1, 0.1);
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		transform: scale(1.2, 1.2);
		opacity: 0;
	}
}

img {
	image-rendering: -webkit-optimize-contrast;
}

/*style scroll bar*/
/* width */
::-webkit-scrollbar {
	width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--main-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--main-hover);
}

/*preloader*/
.preloader {
	-webkit-pointer-events: none;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.progress {
	position: fixed;
	z-index: 99999;
	top: 0;
	width: 100%;
	height: 5px;
	background-color: #f7f7f7;
	background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
	background-repeat: repeat-x;
	border-radius: 2px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
	overflow: hidden;
}

.progress-bar {
	animation: progress 6s ease infinite;
	padding: 1px;
	color: rgba(255, 255, 255, 100);
	background-image: linear-gradient(135deg,
			var(--main-hover),
			var(--main-color));
	/* border-radius: 4px 4px 4px 4px; */
}

html[dir="ltr"] .progress-bar {
	background-image: linear-gradient(135deg,
			var(--main-color),
			var(--main-hover));
}

@keyframes progress {
	from {
		width: 0;
		color: rgba(255, 255, 255, 0);
	}

	to {
		width: 100%;
		color: rgba(255, 255, 255, 1);
	}
}

/*preloader*/
/*                          header section                     */
/*                          dropdown                            */
.dropdown {
	position: relative;
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	/* display: none; */
	visibility: hidden;
	opacity: 0;
	position: absolute;
	background-color: #fff;
	color: var(--sec-color);
	text-align: center;
	min-width: 120px;
	box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.11);
	border-radius: unset;
	z-index: 300;
	top: 38px;
	left: 50%;
	transform: translateX(-50%);
	padding: 7px 0;
	transition: all 0.3s ease-in-out;
}

.dropdown-content::before {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #fff;
	position: absolute;
	top: -8px;
	left: 50%;
	transform: translateX(-50%);
	transition: 0.3s;
	opacity: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
	color: var(--sec-color);
	padding: 5px 15px;
	text-decoration: none;
	display: block;
	font-weight: 400;
	font-size: 14px;
	transition: all 0.3s ease-in-out;
}

.dropdown-content a:hover {
	color: var(--main-hover);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	/* display: block; */
	visibility: visible;
	opacity: 1;
}


.language-anchor {
	font-size: 14px;
	color: #4B5256;
	text-decoration: none;
	transition: 0.5s;
}

.language-anchor:hover {
	color: var(--main-hover);
	text-decoration: none;
}

.menu-item-has-children a::after {
	content: "";
	font-family: "Line Awesome Free";
	font-size: 10px;
	position: absolute;
	inset-inline-end: 0;
	font-weight: 700;
}

.sub-menu li a:after {
	content: "";
}


/*                          dropdown                            */
/*top header*/
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 200;
	background-color: #fff;
	transition: all 0.3s ease-in-out;
}


.navigation-bar {
	background-color: var(--main-color);
	padding: 15px 30px;

}


.top-header a {
	text-decoration: none;
}

.logo-and-name-div {
	display: flex;
	align-items: center;

}

.nav-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px 0 14px;
	transition: all 0.3s ease-in-out;
}

.big-menu li a {
	color: #fff;
	font-size: 16px;
	text-transform: capitalize;
	transition: all 0.3s ease-in-out;

}

.notification-icon {
	position: relative;
	width: 40px;
	height: 40px;
	margin-inline-end: 10px;
}

.notification-no {
	font-size: 9px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	position: absolute;
	top: -4px;
	background-color: var(--main-hover);
	width: 16px;
	height: 16px;
	padding: 3px;
	border-radius: 50%;
	inset-inline-start: 0;
}

.top-header-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;


}

.top-header-list li {
	display: flex;
	align-items: center;
	margin: 0 !important;
	flex-wrap: nowrap;
}

.top-header-list li:not(:last-child) {
	margin-inline-end: 30px !important;
}

.top-header-list li a {
	text-decoration: none;

	color: #000;
	font-size: 14px;
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
}

.sign-out-btn {
	text-decoration: none;
	padding: 0;
	color: #000;
	font-size: 14px;
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	border: 0;
	outline: none;
	background-color: transparent;

}

.sign-out-btn:hover {
	color: var(--main-hover);
}



.sign-out-btn:focus {
	outline: none;
	border: 0;
}

.top-header-list-text {
	transition: 0.5s;
	color: #fff;
}

.top-header-list li a:hover {
	color: var(--main-hover);
}

.top-header-list-icon {
	font-size: 20px;
    color: var(--main-color);
    width: 35px;
    height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	background-color: #EEEEEE;
	border-radius: 50%;
	margin-inline-end: 10px;
	transition: 0.5s;
}

.top-header-list li a:hover .top-header-list-icon {
	background-color: #EEEEEE;
	color: var(--main-color);
}

.big-menu li a:hover {
	color: #fff;
	opacity: 0.7;
	text-decoration: none;
}

.sub-menu li a {
	color: #000 !important;
	transition: 0.5s;
}

.show-icons {
	display: flex;
	align-items: center;
}

.show-icons .menu-bars {
	display: none;
}

.show-icons {
	display: flex;
	align-items: center;
}


.close-bars::after {
	content: "ï€";
	font-family: "line Awesome Free";
	font-weight: 900;
	color: var(--main-hover);
}

.sub-menu li {
	padding: 0 !important;
	margin-inline-start: 36px;
	border-bottom: 0 !important;
	margin-bottom: 0;
}

.sub-menu li:not(:last-child) {
	margin-bottom: 19px !important;
}

.sub-menu li a {
	color: #656565 !important;
}

.sub-menu li a:hover {
	color: var(--main-hover) !important;
}


.menu-item-has-children {
	position: relative;
}


.sub-menu li a {
	color: #fff;
	text-decoration: none;
	line-height: 18px;
	display: block;
	font-weight: 400;
	font-size: 14px;
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	padding: 0;
	transition: all 0.3s ease-in-out;
}


.menu-item-has-children a.active::after {
	transform: rotate(180deg);
}

.sub-menu {
	min-width: unset;
	z-index: 99;
	padding: 0;
	height: unset;
	list-style: none;
	justify-content: flex-start;
	max-width: 100%;
	align-items: start;
	width: unset;
	position: static;
	display: none;
	opacity: 1;
	visibility: visible;
	transition: none;
	box-shadow: none;
	margin-top: 15px;
	left: 0;
	right: 0;
	transform: translateX(0);
	background-color: transparent;
}

@media (max-width: 991px) {
	.top-header-list {
		margin-inline-end: 15px;
	}
.body-bg{
	display: flex !important;
    flex-wrap: wrap !important;
    padding: 50px 0 !important;
}
.body-bg .copy-right{
	margin-bottom: 30px;
}
	.title-bar-with-btns .dashboard-main-title {
		margin: 0;
		flex-wrap: wrap;
		width: 230px;
		

	}
	.title-bar-with-btns .order-date{
		margin: 8px 0 5px !important;
	}

	.accept-modal .my-modal-dialog {
		width: auto !important;
	}

	.accept-modal .special-modal-span {
		position: relative;
	}

	.accept-modal .modal-check-block {
		gap: 5px;
	}

	.w-360 {
		width: 100%;
	}

	.order-table {
		padding: 30px 20px !important;
	}

	.dashboard-main-title .wait-order {
		margin-inline-start: 0 !important;
		margin-top: 8px;
	}


	.table-head th {
		padding: 1px 2rem;
		white-space: nowrap;
	}

	.dashboard-table-div {
		width: 100%;
		overflow-x: scroll;
	}

	.dashboard-table-div::-webkit-scrollbar {
		height: 5px;
	}


	.sub-menu::before {
		display: none;
	}

	.sub-menu li a {
		line-height: 20px;
		padding: 0 5px;
		color: var(--main-color);
	}


	.sub-menu li a {
		text-align: start;
		font-size: 16px;
		color: #000;
	}

	.sub-menu li a:hover,
	.sub-menu li:hover>a {
		color: var(--main-hover);
	}


}


.nav-header .img-logo {
	width: 99px;

	transition: all 0.3s ease-in-out;
}

.nav-header .img-logo img {
	width: 100%;
}

.nav-header figure {
	margin: 0;
}


.hidden {
	display: none;
}


.close-bars::after {
	content: "ï€";
	font-family: "line Awesome Free";
	font-weight: 900;
	color: var(--main-hover);
}

@media (max-width: 991px) {
	body {

		position: relative;
		
	}
	.supervisor-name{
		font-size: 23px;
	}

	.supervisor-name-div {
		width: 100%;
		
		margin-inline-start: 0;
	}

	.title-bar-with-btns {
		flex-wrap: wrap;
		gap:8px;
	}

	.title-bar-btns {
		flex-wrap: wrap;
		
		gap:8px !important;
	}

	.show-icons {
		        position: fixed;
        font-size: 20px;
        background-color: transparent;
        border: none;
        display: flex
;
        color: var(--main-color);
        transition: all 0.3s ease-in-out;
        top: 17px;
        inset-inline-end: 20px;
        z-index: 8888;
	}

	.show-icons .menu-bars {
		position: relative;
		z-index: 9;
		display: flex;
		transition: all 0.3s ease-in-out;
		color: var(--main-color);
		text-decoration: none;
	}

	.show-icon {
		display: block;
	}

	.hide-icon {
		display: none;
	}

	.show-icons .menu-bars .bar {
		color: #fff;
	}

	.show-icons .menu-bars .times {
		color: #000;
		text-decoration: none;
	}

	.my-account-list {
		margin-inline-end: 0 !important;
		background-color: #fff !important;
		width: 100% !important;
		height: auto !important;
		box-shadow: none !important;
	}

	.notification-icon {
		width: 30px;
		height: 30px;
		margin-inline-end: 0;
	}

	.top-header {
		
		position: relative;
	}

	.nav-header .img-logo {
		width: 70px;
	}

	.nav-header {
		padding: 10px 0;
		position: relative;
		justify-content: space-between;
	}

	.top-header-list-text {
		display: none;
	}

	.top-header-list-icon {
		width: 30px;
		height: 30px;
		font-size: 18px;
	}

	.top-header-list li:not(:last-child) {
		margin-inline-end: 15px !important;
	}

	.top-header-list li {
		width: 30px;
	}


	.navigation-bar {
		padding: 0;
	}

	.big-menu li:first-child {
		margin-inline-end: 0;
		margin-bottom: 17px;
	}

	.big-menu li:not(:first-child) {
		margin: 0;
		margin-bottom: 17px;
	}

	.menu-item-has-children a:hover {
		color: var(--main-hover) !important;
	}

	.sub-menu li:not(:last-child) {
		margin-bottom: 5px;
	}

	.sub-menu {
		margin-top: 15px;
		margin-bottom: -25px;
	}

	.sub-menu li a {
		font-size: 16px !important;
		font-family: "SST-ARABIC-ROMAN" !important;
		margin-inline-start: 30px;
	}

	.counter-div {
		width: auto !important;
	}

	.navgition .language-anchor {
		position: absolute;
		top: 5%;
	}


}

.dropdown .add-to {
	cursor: pointer;
}

.top-header .add-to {
	color: var(--main-color);
	font-size: 24px;
	font-weight: 400;

	transition: all 0.3s ease-in-out;
}

/*                          header section                     */
.dashboard-form {
	width: 100%;
	margin-bottom: 30px;
}

.dashboard-form .form-record {
	gap: 7px;
	justify-content: flex-start;
	margin-bottom: 15px;
}

.dashboard-form .form-input-1 {
	width: 100%;
	height: 46px;
	padding: 0 20px;
	padding-inline-start: 27px;
}
html[dir="ltr"] .date-input{
	justify-content: start;
    flex-direction: row-reverse;
    direction: ltr;
	display: block;
}

.dashboard-form .input-block {
	width: 207px;
}

.dashboard-form .form-label {
	font-size: 14px;
	color: #000;
	margin-inline-start: 22px;
	margin-bottom: 11px;
	text-transform: capitalize;
}

.dashboard-submit-btns-div {
	display: flex;
	justify-content: flex-end;
	gap: 7px;
}

.submit-btn-1 {
	width: 110px;
	height: 45px;
	border: 0;
	border-radius: 31px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	outline: none;
	padding: 0;
	transition: 0.5s;
	font-size: 14px;
	text-decoration: none;
	background-color: var(--main-color);
	margin: 0;
	font-family: "SST-ARABIC-BOLD";
}

.submit-btn-1:hover {
	color: #fff;
	background-color: var(--main-hover);
	border: 0;
	text-decoration: none;

}

.submit-btn-1:focus {
	outline: none;
}

/* .statistics-total:hover {
	background-color: var(--main-color);
}

.statistics-total:focus {
	background-color: var(--main-color);
} */

.dashboard-content {
	width: 100%;
}

.date-input {
	flex-direction: row-reverse;
}

.mb-30 {
	margin-bottom: 30px;
}


.product-text {
	padding: 10px;

}

.price {
	color: var(--main-hover);
	font-size: 16px;
	font-family: "SST-ARABIC-BOLD";
	margin: 0 0 3px;
	display: block;
}

.counter-div {
	display: flex;
	align-items: center;
	border: 1px solid #E3E3E3;
	border-radius: 31px;
	margin-inline-end: 8px;
	width: 109px;
	justify-content: space-between;
	height: 30px;
}

.plus {
	font-size: 15px !important;
	color: #4B5256 !important;
	display: flex !important;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	background-color: #E3E3E3;
	width: 23px;
	height: 22px !important;
	border-radius: 50% !important;
	cursor: pointer;
	transition: 0.5s;
	padding: 0 !important;
	margin-inline-start: 8px;

}

.plus:hover {
	background-color: var(--main-hover) !important;
	color: #fff !important;
}

.cart-input {
	background-color: transparent;
	border: 0;
	outline: none;
	color: #4B5256;
	font-size: 14px;
	width: 45px;
	text-align: center;
}

.minus {
	font-size: 15px !important;
	color: #4B5256 !important;
	display: flex !important;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	background-color: #E3E3E3;
	width: 23px;
	height: 22px !important;
	border-radius: 50% !important;
	cursor: pointer;
	margin-inline-end: 8px;
	transition: 0.5s;
	padding: 0 !important;
}

.minus:hover {
	background-color: var(--main-hover) !important;
	color: #fff !important;
}

.cart-counter-section {
	display: flex;
	align-items: center;
}


/*                                   footer                            */
footer {
	padding: 21px 0 22px;
    position: fixed;
    width: 100%;
    bottom: 0;
	background-color: #F9F9F9;
}


.copy-right {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	/* align-items: center; */
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-size: 12px;

	color: #8B8B8B;
	text-align: center;
}


/*                                   footer                            */


.mb-0 {
	margin-bottom: 0 !important;
}


/*        login                  */
.p-0 {
	padding-top: 0 !important;
}

.body-bg {
	position: relative;
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.submit-btn {
    width: 315px;
    height: 48px;
    border: 0;
    border-radius: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    outline: none;
    padding: 0;
    transition: 0.5s;
    font-size: 16px;
    text-decoration: none;
    background-color: var(--main-hover);
    margin: 0;
    font-family: "SST-ARABIC-BOLD";
}
.submit-btn:hover {
    color: #fff;
    background-color: var(--main-color);
    border: 0;
    text-decoration: none;
}
.submit-btn:focus{
	color: #fff;
    background-color: var(--main-color);
    border: 0;
    text-decoration: none;
}
.mt-30{
	margin-top: 30px;
}
.login-text {
	background-color: #fff;
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: center;
}

.login-text-content {

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 315px;
}

.login-img-logo {
	margin: 0 0 40px;
}

.login-logo {
	width: 150px;

	transition: all 0.3s ease-in-out;
}

.login-img {
	height: 100%;
	width: 100%;
	position: relative;
	display: inline-block;
	overflow: hidden;
}

.login-image {
	width: 100%;
	display: block;
	min-height: 100%;
	min-width: 100%;

	height: 100%;
	object-fit: fill;
}

.form-title {
	color: #000;
	display: flex;
	justify-content: center;
	text-align: center;
	font-size: 20px;
	font-family: "SST-ARABIC-BOLD";
	margin: 0 0 12px;

}

.form-text {
	color: #000;
	display: flex;
	justify-content: center;
	text-align: center;
	font-size: 14px;

	margin: 0 auto 117px;

}

.register-link {
	color: var(--main-hover);
	text-decoration: none;
	transition: 0.5s;
	margin-inline-start: 3px;
	background-color: transparent;
	border: 0;
	outline: none;
	padding: 0;
}

.register-link:hover {
	text-decoration: none;
	color: var(--main-color);
	background-color: transparent;
}

.register-link:focus {
	outline: none;
	background-color: transparent;
	color: var(--main-color);
}

.register-link.active {
	background-color: transparent;
	color: var(--main-color);
	outline: none;
	border: 0;
	box-shadow: none;
}

.btn-primary:active:hover,
.btn-primary.active:hover,
.open>.dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open>.dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open>.dropdown-toggle.btn-primary.focus {
	background-color: transparent;
	color: var(--main-color);
	outline: none;
	border: 0;
	box-shadow: none;
}

.form-input-1 {
	width: 315px;
	height: 48px;
	border-radius: 50px;
	background-color: #F1F1F1;
	display: flex;
	align-items: center;
	padding: 0 55px;
	border: 2px solid transparent;
	outline: none;
	transition: 0.5s;
	color: #9B9B9B;
	font-size: 14px;
}

.form-input-1::placeholder {
	color: #9B9B9B;
	font-size: 14px;
}

.form-input-1:focus {
	border: 2px solid var(--main-color);
	outline: none;

}

.form-input-1:not(:last-child) {
	margin-bottom: 10px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}

.flag-section {
	display: flex;
	align-items: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	inset-inline-end: 13px;
	color: #4B5256;
	font-size: 14px;
	font-family: "SST-ARABIC-MEDIUM";
}

.flag {
	margin-inline-start: 6px;
}

.form-input-div {
	position: relative;
}

.form-icon {
	position: absolute;
	color: #9093A3;
	font-size: 24px;
	top: 50%;
	transform: translateY(-50%);
	inset-inline-start: 20px;
}

.password-icon {
	position: absolute;
	color: #9093A3;
	font-size: 24px;
	top: 50%;
	transform: translateY(-50%);
	inset-inline-end: 20px;
}

.forget-password-link {
	font-size: 14px;
	color: #000;
	margin: 23px auto 20px;
	transition: 0.5s;
	display: flex;
	justify-content: center;
	text-decoration: none;
}

.forget-password-link:hover {
	color: var(--main-hover);
	text-decoration: none;
}

.form-1 {
	margin-bottom: 20px;
}


/*             login               */


/*                  password  verefication         */


/*                         register                */
.register-top-header {
	padding: 16px 0 62px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.m-0 {
	margin: 0 !important;
}

.register-form {
	width: 100%;
}

.form-record {
	width: 100%;
	display: flex;
	justify-content: space-between;
	gap: 21px;
	margin-bottom: 14px;
}

.input-block {
	width: 315px;
}

.register-form-label {
	text-align: start;
	text-transform: capitalize;
	color: #000;
	font-size: 14px;
	font-family: "SST-ARABIC-MEDIUM";
	margin: 0 0 10px;
	margin-inline-start: 22px;
}

.register-form .form-input-1 {
	padding-inline-start: 27px;
	margin-bottom: 0;
}

select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-image: none;
}

.register-form-icon {
	font-size: 14px;
	color: #9093A3;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	inset-inline-end: 26px;
}

.m-auto {
	margin: 0 auto 30px;
}

.mb-87 {
	margin-bottom: 87px;
}

.close-modal-icon {
	font-size: 22px;
	color: #9093A3;
	opacity: 1;
}

/*                        register                      */


.modal-check-block {
	width: 100%;
	height: 55px;
	position: relative;
	display: flex;
	align-items: center;

	margin-bottom: 13px;
	border-bottom: 1px solid #D5D5D5;
	padding-bottom: 20px;
}

.special-modal-span {
	display: flex;
	position: absolute;
	height: 28px;
	inset-inline-end: 0;
}

.special-modal-span span {
	color: #fff;
	display: flex;
	font-size: 14px;
	padding: 7px 12px;
	align-items: center;
	justify-content: center;
	border-radius: 14px;
	height: 28px;
}

.div-with-specific-height {
	height: 224px;
	max-height: max-content;
	overflow-y: scroll;
	padding-inline-end: 5px;
}

.available {
	background-color: var(--main-color);
}

.not-available {
	background-color: #C5C5C5;
}

.check-label-radio {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	width: 100%;
	height: 100%;
	top: 0;
	inset-inline-end: 0;
}

.checkmark-2 {
	width: 20px;
	height: 20px;
	background-color: #fff;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #E1E1E1;
	position: relative;
}

.check-label-radio:checked~.checkmark-2::before {
	content: "";
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: var(--main-color);
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

.check-label {
	font-size: 14px;
	color: #4B5256;
	display: flex;
	text-align: start;
	margin-inline-start: 15px;
}

.cart-title {
	color: #000;
	text-align: start;
	font-size: 24px;
	font-family: "SST-ARABIC-BOLD";
	text-transform: capitalize;
	text-align: start;
	margin: 5px 0 19px;

}

.cart-block {
	border-top: 1px solid #ECECEC;
	border-bottom: 1px solid #ECECEC;
	display: flex;
	padding: 20px 0;
}
.table-record .cart-block{
	border-top: 0;
	border-bottom: 0;
}

.cart-pro-img {
	width: 63px;
	height: 63px;
}

.cart-pro-details {
	margin-inline-start: 20px;
	width: 277px;
}

.pro-name-bar {
	display: flex;
	margin-bottom: 13px;
	justify-content: space-between;
	width: 100%;
	align-items: center;
}

.cart-pro-details .product-name {
	font-size: 14px;
	height: auto;
	margin: 0;
	display: flex;
	color: #000;
	text-decoration: none;
	transition: 0.5s;
}

.cart-pro-details .product-name:hover {
	color: var(--main-color);
	text-decoration: none;
}

.w-292 {
	width: 292px;
}

.mt-13 {
	margin-top: 13px;
}

.fs-24 {
	font-size: 24px !important;
}

.pt-32 {
	padding-top: 32px !important;
}

.fs-16 {
	font-size: 16px !important;
}

.total-order-info-2 .total-record {
	justify-content: unset !important;
}

.delete-product {
	border: 0;
	outline: none;
	padding: 0;
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.5s;
	font-size: 20px;
	color: #ABABAB;
}

.delete-product:hover {
	color: var(--main-hover);
}

.delete-product:focus {
	border: 0;
	outline: none;
	color: var(--main-hover);
}

.cart-det {
	display: flex;
	text-align: start;
	color: #A5A5A5;
	font-size: 13px;
	margin-bottom: 5px;
}

.cart-no-div {
	display: flex;
	justify-content: space-between;
	margin-top: 14px;
	align-items: center;
}

.w-103 {
	width: 103px;
	margin-inline-end: 0;
}

.w-103 .plus {
	margin-inline-start: 4px;
}

.w-103 .minus {
	margin-inline-end: 4px;
}

.cart-no-div .price {
	font-size: 14px;
	margin: 0;
}

.total-cart {
	padding: 54px 0 0;
}

.total-record {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 18px;
}

.total-label {
	color: #000;
	font-size: 14px;
	text-align: start;
	display: flex;
}

.total-answer {
	color: #000;
	font-size: 14px;
	font-family: "SST-ARABIC-BOLD";
	display: flex;
	text-align: start;
}

.mt-35 {
	margin-top: 35px;
}


/*                        cart page                         */


/*                               edit user page                                     */
.dashboard-section {
	display: flex;
	padding: 30px 0 77px;

margin-bottom: 62px;
}

.my-account-list {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-inline-end: 30px;
	width: 262px;
	padding: 25px 20px;
	background-color: #F9F9F9;
	box-shadow: -5px 5px 6px #00000033;
}

.my-account-list li a {
	width: 100%;
	text-transform: capitalize;

	font-size: 16px;
	color: #000;
	display: flex;
	align-items: center;
	transition: 0.5s;
}

html[dir="ltr"] .my-account-list li a {
	font-size: 15px;
}

.my-account-list li a:focus {
	text-decoration: none;
}

.my-account-list li button {
	width: 100%;
	text-transform: capitalize;
	background-color: transparent;
	border: 0;
	outline: none;
	font-size: 16px;
	color: #000;
	display: flex;
	align-items: center;
	transition: 0.5s;
	padding: 0;
	white-space: nowrap;
}

.my-account-list li button:focus {
	outline: none;
	border: 0;

}

.my-account-list li a:hover {
	color: var(--main-hover);
	text-decoration: none;
}

.my-account-list li a:hover i {
	color: var(--main-hover);
}

.my-account-list li:not(:last-child) {
	margin-bottom: 14px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.07);
	padding-bottom: 18px;
}

.my-account-list li a i {
	color: var(--main-color);
	font-size: 24px;
	margin-inline-end: 11px;
	transition: 0.5s;
}

.my-account-list li button i {
	color: #C5C5C5;
	font-size: 24px;
	margin-inline-end: 11px;
	transition: 0.5s;
}

.my-account-list li a.active {
	color: var(--main-hover) !important;
}

.my-account-list li a.active i {
	color: var(--main-hover);
}

.my-account-list li button:hover {
	color: var(--main-hover);
}

.my-account-list li button:hover i {
	color: var(--main-hover);
}

.dashboard-main-title {
	color: #000;
	font-size: 20px;
	font-family: "SST-ARABIC-BOLD";
	margin: 26px 0 21px;
	text-align: start;
	text-transform: capitalize;
}

.branches-statistics-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 12px;

}

.branch-block {
	width: 100%;
	height: 184px;
	display: flex;
	
	align-items: center;
	justify-content: space-around;
	border: 1px solid #E7E7E7;
	overflow: hidden;
}
.chart-img{
	width: 150px;
}
.statistic-no {
	color: var(--main-color);
	display: flex;
	justify-content: center;
	text-align: center;
	font-size: 20px;
	font-family: "SST-ARABIC-BOLD";
	margin-bottom: 8px;
}

.statistic-title {
	color: #000;
	display: flex;
	text-align: center;
	flex-direction: column;
	justify-content: center;
	margin: 0;
	
	font-size: 18px;
	line-height: 1.6;
	
	overflow: hidden;
}

html[dir="ltr"] .statistic-title {
	max-width: 148px;

}

.returns-icon {
	background-color: #66A61B !important;
}

.statistics-total {
	background-color: var(--main-hover);
}

.w-262 {
	width: 262px;
}

.message-date-bar {
	display: flex;
	gap: 25px;
	margin-bottom: 10px;
}

.not-sender {
	margin: 0 0 13px;
	text-align: start;
	display: flex;
	text-transform: capitalize;
	color: #000;
	font-size: 16px;
	font-family: "SST-ARABIC-MEDIUM";
}

.my-acc-label {
	color: #000;
	font-size: 14px;
	font-family: "SST-ARABIC-MEDIUM";
	margin-inline-start: 22px;
	text-align: start;
	margin-bottom: 10px;
	text-transform: capitalize;
}

.dashboard-content .favourite-btn {
	background-color: var(--main-hover);
	color: #fff;
}

.submit-btn-2 {
	background-color: var(--main-hover);
	width: 200px;
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	padding: 0;
	border-radius: 31px;
	font-size: 16px;
	font-family: "SST-ARABIC-BOLD";
	border: 0;
	outline: none;
	transition: 0.5s;
}

.submit-btn-2:hover {
	background-color: var(--main-color);
}

.submit-btn-2:focus {
	border: 0;
	outline: none;
	background-color: var(--main-color);
	color: #fff;
}

/*                               edit user page                                     */

/*                           address book page                               */
.title-bar-with-btns {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	width: 100%;
}

.order-title-div {
	display: flex;
	align-items: baseline;
}

.back-link {
	color: #8B8B8B;
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 36px;
	height: 36px;
	background-color: #F8F8F8;
	border-radius: 50%;
	text-decoration: none;
	transition: 0.5s;
	flex-shrink: 0;
	margin-inline-end: 20px;
}

.back-link:hover {
	background-color: var(--main-color);
	color: #fff;
	text-decoration: none;
}

.title-bar-btns {
	display: flex;
	align-items: center;
	gap: 5px;
}

.title-bar-btn {

	color: #fff;
	width: 126px;
	height: 36px;
	border-radius: 31px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.5s;
	text-decoration: none;
	font-size: 14px;
	font-family: "SST-ARABIC-BOLD";
	border: 0;
	outline: none;
}

.title-bar-btn:hover {
	background-color: var(--main-color);
	color: #fff;
	text-decoration: none;
}

.title-bar-btn:focus {
	outline: none;
	border: 0;
	color: #fff;
}

.title-bar-with-btns .dashboard-main-title {
	margin-bottom: 0;
	display: flex;
	align-items: center;
}

.delegate-btn {
	background-color: var(--main-hover);
}

.delegate-btn:hover {
	background-color: var(--main-color);
}

.delegate-btn:focus {
	background-color: var(--main-color);
}

.status-btn {
	background-color: var(--main-color);
}

.status-btn:hover {
	background-color: var(--main-hover);
}

.status-btn:focus {
	background-color: var(--main-hover);
}

.border-0 {
	border-bottom: 0;
}

.h-auto {
	height: auto;
}

.padding-0 {
	padding: 0;
}

.dashboard-table {
	width: 100%;
}

.table-head {
	width: 100%;
	height: 60px;
	background: var(--main-color);
}

.table-head th {
	padding: 0 30px;
	color: #fff;
	font-size: 14px;
	font-family: "SST-ARABIC-MEDIUM";
	text-transform: capitalize;
	white-space: nowrap;
}

.table-btn a {
	padding: 0;
	display: flex;
	align-items: center;
	background-color: transparent;
	border: 0;
	outline: none;
	color: #878787;
	font-size: 20px;
	transition: 0.5s;
	text-decoration: none;
}

.table-btn a:hover {
	color: var(--main-hover);
	text-decoration: none;
}

.table-btn button {
	padding: 0;
	display: flex;
	align-items: center;
	background-color: transparent;
	border: 0;
	outline: none;
	color: #878787;
	font-size: 20px;
	transition: 0.5s;
}

.table-btn button:hover {
	color: var(--main-hover);
}

.table-btn button:focus {
	outline: none;
	border: 0;
	color: var(--main-hover);
}

.table-record {
	height: 81px;
	background-color: #fff;
	border-bottom: 1px solid #ECECEC;
}

.table-record td {
	padding: 0 30px;
	font-size: 14px;
	color: #000;
	max-width: 133px;
}

.table-btn {
	padding: 0 10px !important;
}

.table-product-img {
	width: 40px;
	height: 40px;
}

.table-pro-img {
	width: 100%;
}

.switch-btn {
	width: 50px;
	height: 28px;
	border-radius: 14px;
	overflow: hidden;
	position: relative;
}

.switch-checkbox {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	opacity: 0;
	cursor: pointer;
	z-index: 3;
	background-color: var(--main-color);
}

.switch-btn .knobs,
.switch-btn .knobs:before,
.switch-btn .layer {
	transition: 0.3s ease all;
}

.knobs {
	z-index: 2;
	width: 50px;
	height: 28px;
	border-radius: 14px;
	background-color: #C5C5C5;
}

.switch-btn .switch-checkbox:checked+.knobs:before {
	content: "";
	left: 25px;
	background-color: #fff;
}

.switch-btn .switch-checkbox:checked+.knobs {
	background-color: var(--main-color);
}

.knobs,
.layer {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.switch-btn .knobs,
#button-1 .knobs:before,
.switch-btn .layer {
	transition: 0.3s ease all;
}

.switch-btn .knobs:before {
	content: "";
	position: absolute;
	top: 3px;
	left: 3px;
	width: 22px;
	height: 22px;

	background-color: #fff;
	border-radius: 50%;
	transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

.db-pagenation {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
}

.db-pagenation li a {
	background-color: #F1F1F1;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	font-size: 14px;
	color: #7D7D7D;
	text-decoration: none;
	transition: 0.5s;
}

.db-pagenation li a:hover {
	background-color: var(--main-color);
	color: #fff;
	text-decoration: none;
}

.db-pagenation li a.active {
	background-color: var(--main-color);
	color: #fff;
	text-decoration: none;
}

/*                          address book page                           */

/*                             notifications page                       */
.messages-block {
	margin-bottom: 7px;
	padding: 20px 20px 30px;
	border: 1.5px solid #EBEBEB;
	border-radius: 5px;


}

.notification-block {
	margin-bottom: 7px;
	padding: 20px 20px 30px;
	border: 1.5px solid #EBEBEB;
	border-radius: 5px;
	display: flex;

}

.not-img {
	margin-inline-end: 18px;
	display: flex;
	flex-shrink: 0;
	height: 100%;
}

.form-3 {
	width: 100%;
}

.form-3 .form-record {
	gap: 10px !important;
}

.form-2 .form-input-1 {
	width: 100%;
}

.form-3 .form-input-1 {
	width: 100%;
}

.msg-paragraph {
	color: #000;
	font-size: 14px;
	text-align: start;
	line-height: 1.76;

}

.notification-paragraph {
	color: #000;
	font-size: 14px;
	text-align: start;
	line-height: 1.76;
	margin: 0 0 18px;
}

.mt-30 {
	margin-top: 30px;
}

.not-date {
	color: #A1A1A1;
	font-size: 12px;
	text-align: start;
	display: flex;
	margin: 0;
}

.gray-bg {
	background-color: #F3F3F3;
}

/*                             notifications page                       */

/*                                   wallet page                           */
.accept-modal .my-modal-dialog {
	width: 600px;
}

.my-modal-btns {
	display: flex;
	align-items: center;
	gap: 5px;
}

.my-modal-btns button {
	border: 0;
	outline: none;
	color: #fff;
	font-size: 16px;
	height: 48px !important;
	transition: 0.5s;
}

.my-modal-btns .btn-1 {
	background-color: var(--main-color);

}

.my-modal-btns .btn-1:hover {
	background-color: var(--main-hover);
	color: #fff;
}

.my-modal-btns .btn-2 {
	background-color: var(--main-hover);
}

.my-modal-btns .btn-2:hover {
	background-color: var(--main-color);
	color: #fff;
}

.my-modal-btns .title-bar-btn {
	margin-inline-end: 5px;
}

.cash-back-link {
	margin-inline-end: 0 !important;
	background-color: var(--main-color);
}

.cash-back-link:hover {
	background-color: var(--main-hover);
}

.charge-info {
	display: flex;
	gap: 8px;
	margin-bottom: 50px;
}

.charge-info-block {
	display: flex;
	align-items: center;
	border: 2px solid #EAF2F5;
	width: 420px;
	padding: 20px;
}

.charge-icon {
	color: #fff;
	font-size: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 56px;
	height: 56px;
	border-radius: 50%;
	flex-shrink: 0;
	background-color: var(--main-color);
	margin-inline-end: 16px;
}

.charge-amount {
	color: #000;
	font-size: 24px;
	font-family: "SST-ARABIC-BOLD";
	display: flex;
	align-items: center;
	margin: 0 0 7px;

}

.currency {
	color: #000;
	font-size: 16px;
	font-family: "SST-ARABIC-BOLD";
	display: flex;
	margin: 0;
	margin-inline-start: 7px;
}

.charge-note {
	display: flex;
	margin: 0;
	color: #000;
	font-size: 14px;
}

.wallet-tabs {
	margin: 0 0 20px;
	border: 0;
}

.wallet-tabs>li>a {
	padding: 0;
	margin: 0;
	color: #000;
	font-size: 13px;
	font-family: "SST-ARABIC-MEDIUM";
	background-color: #EBEBEB;
	border-radius: 50px;
	height: 41px;
	width: 116px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-inline-end: 5px;
	border: 0;
	transition: 0.5s;
}

.wallet-tabs>li>a:hover {
	border: 0;
	background-color: var(--main-color);
	color: #fff;
}

.wallet-tabs>li.active>a,
.wallet-tabs>li.active>a:hover,
.wallet-tabs>li.active>a:focus {
	border: 0;
	background-color: var(--main-color);
	color: #fff;
}

.w-116 {
	width: 116px;
	padding: 20px 0 !important;
}

.table-record td span {
	display: block;
}

.p-20 {
	padding: 20px 16px !important;
}

.my-modal {
	background-color: rgba(0, 0, 0, 0.5);
}

.my-modal-dialog {
	width: 375px;
	border-radius: 10px;
}

.my-modal-header {
	padding: 0;
	border: 0;
}

.my-modal-header .close {
	margin: 0;
	font-size: 22px;
	color: #9093A3;
	padding: 12px 0 5px;
	padding-inline-end: 12px;
	opacity: 1;
	width: auto;
}

.my-modal-header .close i {
	margin-inline-end: 0;
}

.modal-title {
	color: #000;
	text-align: center;
	text-transform: capitalize;
	font-size: 16px;
	font-family: "SST-ARABIC-BOLD";
	margin: 0 0 25px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.my-modal .modal-body {
	padding: 0 30px;
}

.my-modal .submit-btn {
	height: 55px;
	margin-bottom: 37px;
	font-size: 18px;
	margin-top: 15px;
	width: 100%;
	justify-content: center;
	border-radius: 24px;
}

html[dir="ltr"] .my-modal .submit-btn {
	font-size: 16px;
}

.textarea {
	height: 100px;
	border-radius: 24px;
	padding: 20px;
}

.table-record td {
	padding:  10px;
}

.table-head th {
	padding:  10px;
}

.my-modal-note {
	text-align: center;
	display: flex;
	justify-content: center;
	font-size: 16px;
	color: #000;
	margin: 0 0 25px;
}

.mb-22 {
	margin-bottom: 22px;
}

.sign-out-yes {
	height: 48px !important;
	background-color: var(--main-color) !important;
	font-size: 16px !important;
	color: #fff !important;
	margin-bottom: 10px !important;
}

.sign-out-yes:hover {
	background-color: var(--main-hover) !important;
}

.sign-out-no {
	height: 48px !important;
	background-color: var(--main-hover) !important;
	font-size: 16px !important;
	color: #fff !important;
	margin-top: 0 !important;

}

.sign-out-no:hover {
	background-color: var(--main-color) !important;
}

/*                                      wallet page                             */

/*                                      my-orders page                             */
.my-orders-tabs li a {
	width: 90px;
}

.wait-order {
	color: #F5A623;
	font-size: 12px;
	font-family: "SST-ARABIC-BOLD";
	display: flex !important;
	align-items: center;
	justify-content: center;
	background-color: rgba(245, 166, 35, 0.2);
	padding: 0 20px;
	height: 24px;
	border-radius: 12px;
width: max-content;
}



.download {
	color: #E13612;
	font-size: 14px;
	background-color: transparent;
	transition: 0.5s;
	border: 0;
	outline: none;
	padding: 0;
}

.download:hover {
	color: var(--main-color);
}

.download:focus {
	outline: none;
	border: 0;
	color: var(--main-color);
}

.show-order-link {
	font-size: 20px;
	color: #9A9A9A;
	transition: 0.5s;
}

.show-order-link i {
	font-size: 20px;

}

.under-progress-order {
	color: #34B7EA;
	background-color: rgba(52, 183, 234, 0.2);
}

.show-order-link:hover {
	color: var(--main-color);
}

.finished-order {
	color: rgba(0, 215, 135, 1);
	background-color: rgba(0, 215, 135, 0.2);
}

.delivering-order {
	color: rgba(102, 103, 167, 1);
	background-color: rgba(102, 103, 167, 0.2);
}

.cancel-order {
	color: rgba(237, 29, 36, 1);
	background-color: rgba(237, 29, 36, 0.2);
}

.problem-order {
	color: rgba(155, 155, 155, 1);
	background-color: rgba(155, 155, 155, 0.2);
}

.return-order-btn {
	background-color: transparent;
	border: 0;
	outline: none;
	padding: 0;
}

.return-order-btn:hover {
	color: var(--main-color);
}

.return-order-btn:focus {
	border: 0;
	outline: none;
	color: var(--main-color);
}

.recieved-order {
	color: rgba(102, 166, 27, 1);
	background-color: rgba(102, 166, 27, 0.2);
}

.dashboard-main-title .wait-order {
	margin-inline-start: 15px;
}

.print-bill-link {
	background-color: #66A61B;
}

.print-bill-link:hover {
	background-color: var(--main-hover);
}

.order-date {
	color: #4B5256;
	font-size: 14px;
	display: flex;
	margin: 17px 0 0;
}

.order-table {
	background-color: #F8F8F8;
	padding: 30px;
}

.order-table .table-record td {
	max-width: 100%;
}

.order-table .table-head {
	height: auto;
	border-bottom: 1px solid #D5D5D5;
	background-color: transparent;
}

.order-table .table-head th {
	padding-bottom: 23px;
	color: #000;
}

.w-44 {
	width: 44px;
}

.w-419 {
	width: 419px !important;
}

.order-table .table-record {
	background-color: #F8F8F8;
}

.w-360 {
	width: 360px;
}

.total-order-info {
	display: flex;
	justify-content: flex-end;
}

.mt-54 {
	margin-top: 54px !important;
}

.f-medium {
	font-family: "SST-ARABIC-MEDIUM";
}

.f-roman {
	font-family: "SST-ARABIC-ROMAN";
}

.map-link {
	color: var(--main-hover);
	text-decoration: none;
	transition: 0.5s;
}

.map-link:hover {
	color: var(--main-color);
	text-decoration: none;
}

.total-order-info-2 .total-record {
	justify-content: unset;
}


.modal-check-block label {
	margin: 0;
}


.delegate-name {
	color: var(--main-hover);
	display: flex !important;
	font-size: 16px;
	font-family: "SST-ARABIC-BOLD";
	margin-inline-start: 3px;
}

.return-label {
	color: #000;
	font-size: 14px;
	font-family: "SST-ARABIC-MEDIUM";
	text-align: start;
	text-transform: capitalize;
	margin: 38px 0 10px;
}


.b-0 {
	border: 0;
}

.form-2 {
	width: 532px;
}

.form-2 .input-block input {
	width: 100%;
}

/*                                      my-orders  page                             */

/*                            contact us page                                           */
.contact-info-title {
	color: #000;
	font-size: 16px;
	font-family: "SST-ARABIC-BOLD";
	text-align: start;
	text-transform: capitalize;
	margin: 0 0 18px;
}

.m-start-0 {
	margin-inline-start: 0;
}

.mb-54 {
	margin-bottom: 54px;
}

.contact-info-list {
	display: flex;
	align-items: center;
	gap: 60px;
	list-style: none;
	margin: 0;
	padding: 0;
	margin-bottom: 40px;
}

.contact-info-list li a {
	color: #000;
	font-size: 16px;
	text-decoration: none;
	transition: 0.5s;
	display: flex;
	align-items: center;
}

.contact-info-list li a:hover {
	color: var(--main-color);
}

.contact-icon-2 {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #E8F2DD;
	font-size: 20px;
	color: #66A61B;
	margin-inline-end: 15px;
}

.map-section {
	width: 100%;
	margin-bottom: 62px;
	position: relative;
}

.map-img {
	width: 100%;
}

.map-indicator {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.contact-note {
	text-align: start;
	color: #000;
	font-size: 16px;
	font-family: "SST-ARABIC-BOLD";
	margin: 0 0 33px;
}

.contact-textarea {
	width: 100%;
	height: 100px;
	border-radius: 24px;
	background-color: #F1F1F1;
	padding: 22px;
	border: 2px solid transparent;
	transition: 0.5s;
	outline: none;
}

.contact-textarea:focus {
	border: 2px solid var(--main-color);
	outline: none;
}

.msg-block {
	width: 100%;
}

.send-btn-div {
	display: flex;
	justify-content: flex-end;
}

.send-btn-div .submit-btn {
	width: 158px;

}

.terms-conditions-text {
	color: #000;
	text-align: start;
	font-size: 16px;
	line-height: 1.768;
	margin: 0 0 30px;
}

.terms-section {
	padding-bottom: 80px;
}

.about-section {
	padding: 96px 0 100px;
	display: flex;
	gap: 33px;
}

.about-paragraph {
	max-width: 552px;
}

.about-img {
	max-width: 553px;

}

.about-img img {
	width: 100%;
}

.mt-0 {
	margin-top: 0;
}
.date-input{
	/* padding: 0 !important;
	display: flex;
	justify-content: center;
	align-items: center; */
	/* display: block; */
}

/*                            contact us page                                           */

/*                                    media query                                    */
/*                    menu in phone size                      */

@media (max-width: 991px) {
	.branches-statistics-grid {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.total-order-info-2 .total-record {
		gap: 5px !important;
	}

	.w-292 {
		width: 100%;
	}

	.w-419 {
		width: 100% !important;
	}

	.form-2 {
		width: 100%;
	}

	.table-record td {
		max-width: 100%;
		white-space: nowrap;
	}

	.dashboard-main-title {
		margin-top: 0;
	}

	.my-account-list li:not(:last-child) {
		border-bottom: 0;

	}

	.sub-menu li:not(:last-child) {
		padding-bottom: 0;
	}

	.modal-backdrop.in {
		z-index: 9;
	}

	.menu-item-has-children a::after {
		font-size: 14px;
	}

	.not-img {
		display: none;
	}

	.notification-text {
		margin-top: 0;
	}

	.total-order-info-2 .total-record {
	flex-wrap: wrap;
	}


	.dashboard-form .input-block {
		margin-bottom: 15px;
	}

	.send-btn-div {
		margin-top: 20px;
		justify-content: center;
	}

	.recieved- {
		flex-wrap: wrap;
	}

	.rating-order-div {
		margin-top: 15px;
	}

	.filter-section {
		position: absolute;
		width: 100%;
		max-height: 100%;
		background: #F6F6F6;
		top: 225px;
		inset-inline-start: -110%;
		transition: 0.5s;
		z-index: 9;
		height: 100%;
	}

	.checkbox-div {
		margin-bottom: 15px;
	}

	.filter-title-div {
		margin-bottom: 15px;
	}

	.products-title-sec {
		display: flex;
		justify-content: space-between;
		width: 100%;
		align-items: center;
	}

	html[dir="ltr"] .my-modal .submit-btn {
		font-size: 14px;
	}


	.p-0 {
		padding-top: 30px;
	}

	.form-text {
		margin: 0 auto 50px;
	}


	.register-top-header .form-text {
		margin: 0;
	}

	.form-record {
		flex-wrap: wrap;
		gap: 0px !important;
		margin-bottom: 0 !important;
	}

	.input-block {
		width: 100% !important;
	}

	.form-input-1 {
		width: 100% !important;
	}

	.mb-87 {
		margin: 0 0 87px !important;
		display: block;
	}

	.register-form .form-input-1 {
		margin-bottom: 15px;
	}


	.checkout-address {
		width: 100%;
	}

	.dashboard-section {
		flex-wrap: wrap;
	}

	.navgition {
		display: block;
		position: fixed;
		padding: 30px 20px;
		padding-top: 0;
		left: 0;
		top: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		visibility: hidden;
		clip-path: circle(10.9% at 16% 16%);
		background-color: rgba(255, 255, 255, 0.99);
		transition: 0.4s;
		z-index: 888;
		overflow-y: auto;
		transition: all 0.3s ease-in-out;
	}

	html[dir="ltr"] .navgition {
		clip-path: circle(11.2% at 86% 14%);
	}

	.reset-left {
		left: 0;
		top: 0;
		clip-path: circle(139.6% at 9% 15%);
		visibility: visible;
		opacity: 1;
		overflow-x: hidden;
		overflow-y: scroll;
	}

	html[dir="ltr"] .reset-left {
		clip-path: circle(121.2% at 86% 14%);
	}

	.big-menu {
		display: block;

		text-align: start;
		align-items: center;
		padding: 90px 0px 20px;
		margin-inline-start: 0;

	}

	.big-menu li {
		margin: 0;
	}


	.big-menu li a {
		display: flex;
		color: #000;
		align-items: center;
		font-family: "SST-ARABIC-BOLD";
		font-size: 18px;
		position: relative;
		width: 100%;

	}

	.cart-content {
		flex-wrap: wrap;
	}


	.cart-pro-details {
		width: 250px;
		margin-inline-start: 15px;
	}

	.cart-btns {
		flex-wrap: wrap;
	}

	.cart-btn {
		width: 100% !important;
	}

	.continue-btn {
		margin-inline-end: 0;
		margin-bottom: 15px;
	}


	.charge-info {
		flex-wrap: wrap;
		gap: 15px;
		justify-content: center;
	}

	.my-modal-btns .title-bar-btn {
		width: 100%;
		margin-top: 10px;
	}

	.my-modal-btns {
		width: 100%;
	}

	.my-modal-dialog {
		width: auto;
		top: 50%;
		transform: translateY(-50%) !important;
	}

	/*                    menu in phone size                      */
}

/*                                    media query                                    */


/*                                 arrow-top                           */
.arrow-top {
	position: fixed;
	bottom: 15px;
	inset-inline-start: 15px;
	display: none;
	z-index: 10;
	text-decoration: none !important;
}

.arrow-top i {
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: #fff;
	box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.15);
	font-size: 20px;
	color: #808080;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.arrow-top i:hover {
	background-color: var(--main-hover);
	color: #fff;
}

@media (max-width: 767px) {
	.arrow-top {
		bottom: 10px;
		inset-inline-start: 10px;
	}


}

@media (min-width: 1200px) {

	.container,
	.container-lg,
	.container-md,
	.container-sm,
	.container-xl {
		max-width: 1170px;
	}
}

@media (max-width: 767px) {

	.container,
	.container-fluid,
	.container-lg,
	.container-md,
	.container-sm,
	.container-xl {
		padding-left: 20px;
		padding-right: 20px;
	}
}


@media (min-width: 992px) and (max-width: 1199px) {

	.top-header-list li:not(:last-child) {
		margin-inline-end: 15px !important;
	}
	.branches-statistics-grid{
		grid-template-columns: repeat(4,1fr);
	}
	.top-header-list-text {
		display: none;
	}
	.title-bar-with-btns{
		flex-wrap: wrap;
	}
	.title-bar-with-btns .order-date{
		margin: 8px 0 5px;
	}
	.title-bar-with-btns .dashboard-main-title{
		margin-top: 0;
	}

	.dashboard-form .input-block {
		width: 170px;
	}

	.dashboard-table-div {
		width: 100%;
		overflow-x: scroll;
	}

	.big-menu li a {
		font-size: 12px;
	}

	.big-menu li:first-child {
		margin-inline-end: 5px;
	}

	.dashboard-content {
		width: 650px;
	}

	.table-record td {
		width: 100%;
		max-width: 100%;
		white-space: nowrap;
	}

	.table-head th {
		width: 100%;
		max-width: 100%;
		white-space: nowrap;
	}


	.w-262 {
		width: 100%;
	}

	.charge-info {
		flex-wrap: wrap;
		gap: 15px;
		justify-content: center;
	}
}


@media only screen and (max-width: 994px) and (min-width: 768px) {


	.dashboard-main-title .wait-order {
		margin-inline-start: 15px !important;
		margin-top: 0;
	}

	.p-0 {
		padding-top: 0;
	}

	.form-record {
		flex-wrap: nowrap;
		gap: 20px !important;
	}

	.my-modal-dialog {
		width: 375px;
	}

	.my-modal-btns {
		width: auto;
	}

	.my-modal-btns .title-bar-btn {
		width: 126px;
		margin-top: 0;
	}


}